.card {
  margin: 10px;
  width: 30vw;
  min-width: 290px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;

  img {
    object-fit: cover;
    min-width: 200px;
    height: 30vh;
    min-height: 200px;
    width: 100%;
  }

  &__info {
    // background-color: salmon;
    margin-top: -25px;
    border-radius: 10px;
    padding: 20px;
    padding-top: -2px;
    border: 1;

    h4 {
      font-size: 25px;
      font-weight: 600;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    h5 {
      font-size: 23px;
      font-weight: 500;
    }
  }
}

.card:hover {
  transform: scale(1.02);
}
